@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600;1,700&display=swap');
body{
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;

}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 10px 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 20%;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul a{
    font-size: 16px ;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    display: block;
    color: #9e9a9a;
    transition: all 0.3s ease;
}
.footer-col ul li:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.copyright{
    text-align: center;
    color: #d6d5d5;
    line-height: 100px;
}
.highlight{
    color: lightsalmon;    
}
/* responsive footer  */
@media (max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px){
    .footer-col{
        width: 100%;
    }
}